.nav {
  display: block;
  height: 70px;
  background-image: url('https://image.freepik.com/free-vector/pink-alcohol-ink-background-abstract-fluid-art-painting-design_25819-699.jpg');
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  color: black;
  font-size: 20px;
  border: 1 px solid red;
}

.activeLink {
  composes: link;
  color: #a52a62;
}
